.img {
  margin: 50px;
}
.square {
  margin: 40px 0;
}
.circle {
  display: inline-block;
  opacity: 1;
  opacity: 1;
  img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
  }
}
